/*------------------Colors------------------*/

$color-weak:#f79682;
$color-medium: #f7bc1c;
$color-strong: #1fe6a8;
$color-empty-form:#ebebeb;

$color-valid-form:#1fe6a8;
$color-invalid-form:#f79682;

$input-color : #aaaab9;
$font-color:#8e90a9;
$marker-empty: gray;
